#videosList {
 max-width: 200;
  overflow: hidden;
}

.video {
  background-image: url("https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/contributor/2014/11/14/1415967552815/Tony-Blair-L.png?w=300&q=55&auto=format&usm=12&fit=max&s=c3449b51d1f0d1c0f6185a7cc8e2f8bf");
   background-repeat: no-repeat;
  height: 300px;
  width: 600px;
  margin-bottom: 50px;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}
